


.scoreboard{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    border: solid 1px #EEEEEE;
    margin: 5px;
    padding: 5px;
    
    .word-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 330px;
        overflow-y: scroll;
        .words {
            width: 50%;
            float: left;
        }

    }

    li {
        padding-top: 15px;
        list-style-type: none;
    }

    .total-score {
        border-top: 1px solid #E0E0E0;
        padding-top: 25px;
        width: 100%;
        span {
            text-align: right;
            float: right;
            position: relative;
            top: -5px;
            font-size: 25px;
        }
    }
    

}

h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    display: inline;
    color: #616161;
}