.form {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .input-wrapper {
    max-width: 360px;
    width: 100%;
    position: relative;
  }
  .input-class {
    height: 50px;
    font-size: 16px;
    padding: 11px 15px;
    border-radius: 4px;
    border: 1px solid #cbd8e3;
    width: 100%;
    outline: none;
    box-sizing: border-box;
  }
  .placeholder {
    pointer-events: none;
    position: absolute;
    font-weight: 400;
    top: 18px;
    left: 8px;
    padding: 0 8px;
    background-color: white;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: grey;
  }
  
  .input:not(:placeholder-shown).input:not(:focus) + .placeholder {
    transform: scale(0.75) translateY(-36px) translateX(-15%);
    color: #cbd8e3;
    transition: 0.2s ease;
  }
  
  .input:focus {
    border-color: #0088ff;
  }
  
  .input:focus + .placeholder {
    transform: scale(0.75) translateY(-36px) translateX(-15%);
    color: #0088ff;
    transition: 0.2s ease;
  }
  
  .input:invalid:not(:placeholder-shown) {
    transition: 0.2s ease;
    border-color: #f52c5c;
  }
  
  .input:invalid:not(:placeholder-shown) + .placeholder {
    transition: 0.2s ease;
    color: #f52c5c;
  }
  .input:invalid:not(:placeholder-shown).input:not(:focus) + .placeholder {
    transform: scale(0.75) translateY(-36px) translateX(-15%);
    color: #f52c5c;
    transition: 0.2s ease;
  }
  