.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.4fr 0.5fr;
  gap: 1px 1px;
}

.Board { grid-area: 2 / 2 / 3 / 3; }

.Score { grid-area: 2 / 3 / 3 / 4; }

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-area: 1 / 2 / 2 / 4;
  margin-top: 5px;
  .header-logo { grid-area: 1 / 1 / 3 / 3;
      font-family: 'Bigelow Rules';
      font-size: 72px;
      color: #0ccac4;
  }
}



.Timer { grid-area: 1 / 3 / 3 / 4; }

.control-box {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr 1fr;
  grid-template-rows: 1.2fr 1fr;
  gap: 1px 1px;
  grid-area: 3 / 2 / 4 / 4;
}

.ininput-box { grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit-button { grid-area: 1 / 2 / 2 / 3; }

.reset-button { grid-area: 2 / 1 / 3 / 2; }

.input-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-user-select: none;
}

.button-red{
  background-color: #f44336;
}