.words-row {
    display: flex;
    text-align:center;
    flex-direction:row;
    padding: 5px;

    .character {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: -4px 2px 8px 1px rgba(129, 125, 125, 0.1);
        flex:1 1 auto;
        margin:5px;
        text-align: center;

        .character-individual {
            font-weight: bold;
            display: block;
            position: relative;
            top: 50%;
            text-transform: capitalize;
            transform: translateY(-50%);
        }
     }
     
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;

}
